<button mat-icon-button class="close-button-dialog" [mat-dialog-close]="false">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
<div>
    <h3 mat-dialog-title class="fs-16 color-text">Đổi mật khẩu</h3>
</div>
<mat-dialog-content mat-dialog-content>
    <div class="container" [formGroup]="formControl">
        <div class="flex-6">
            <div class="flex-row">
                <p style="width: 30%; font-weight: bold;">Tài khoản</p>
                <p style="width: 70%;">{{data.item.userName}}</p>
            </div>
            <div class="flex-row" *ngIf="data.item.isAccountHolder">
                <p style="width: 30%; font-weight: bold;">Mật khẩu cũ<span style="color: red;">(*)</span></p>
                <mat-form-field appearance="outline" style="width: 70%;">
                    <input matInput type="text" #input formControlName="passwordOld" (ngModelChange)="checkPasswordOld()">
                    <mat-error *ngIf="f.passwordOld.hasError('required')">
                        Chưa nhập mật khẩu
                    </mat-error>
                    <mat-error *ngIf="f.passwordOld.hasError('minlength')">
                        Mật khẩu cần tối thiểu 8 ký tự
                    </mat-error>
                    <mat-error
                        *ngIf="!f.passwordOld.hasError('required') && f.passwordOld.hasError('pattern') && !f.passwordOld.hasError('minlength')">
                        Mật khẩu phải bao gồm số, chữ hoa, chữ thường, ký tự đặc biệt
                    </mat-error>
                </mat-form-field>
            </div>
            <div style="margin-left: calc(30% + 9px); margin-top: -10px; color: #f44336; font:400 9px/1.125 Muli, Helvetica Neue, Arial, sans-serif !important;" *ngIf="!f.passwordOld.hasError('required') && !f.passwordOld.hasError('pattern') && !f.passwordOld.hasError('minlength') && data.item.isAccountHolder && !checkPassword">
                Mật khẩu không chính xác
            </div>
            <div class="flex-row">
                <p style="width: 30%; font-weight: bold;">Mật khẩu mới<span style="color: red;">(*)</span></p>
                <mat-form-field appearance="outline" style="width: 70%;">
                    <input matInput type="text" #input formControlName="password" [(ngModel)]="data.item.passwordNew" (ngModelChange)="checkPasswordExist()">
                    <mat-error *ngIf="f.password.hasError('required')">
                        Chưa nhập mật khẩu
                    </mat-error>
                    <mat-error *ngIf="!f.password.hasError('required') && f.password.hasError('minlength')">
                        Mật khẩu cần tối thiểu 8 ký tự
                    </mat-error>
                    <mat-error
                        *ngIf="!f.password.hasError('required') && f.password.hasError('pattern') && !f.password.hasError('minlength')">
                        Mật khẩu phải bao gồm số, chữ hoa, chữ thường, ký tự đặc biệt
                    </mat-error>
                </mat-form-field>
                
            </div>
            <div style="margin-left: calc(30% + 9px); margin-top: -10px; color: #f44336; font:400 9px/1.125 Muli, Helvetica Neue, Arial, sans-serif !important;" *ngIf="checkExistPassword">
                Mật khẩu mới phải khác mật khẩu cũ
            </div>
            <div class="flex-row">
                <p style="width: 30%; font-weight: bold;">Xác nhận mật khẩu mới<span style="color: red;">(*)</span></p>
                <mat-form-field appearance="outline" style="width: 70%;">
                    <input matInput type="text" #input formControlName="confirmPass" >
                    <mat-error *ngIf=" f.confirmPass.hasError('required')">
                        Chưa nhập xác nhận mật khẩu
                    </mat-error>
                    <mat-error *ngIf=" !f.confirmPass.hasError('required')&& f.confirmPass.hasError('notEquivalent')">
                        Mật khẩu không khớp
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-dialog-content>
<div mat-dialog-actions style="text-align: right ; float: right;" class="fs-14">
    <button mat-raised-button color="primary" (click)="save()">
        <mat-icon>check_box</mat-icon> Lưu thông tin
    </button>
    <button *ngIf="data.item.isClose" mat-raised-button mat-dialog-close>
        Thoát
    </button>
</div>