<div class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="row">

        <mat-card class="example-card" (click)="gotoModule('120000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/ctkh.png">
            <span class="title">Công tác kế hoạch</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('130000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/cbdt.png">
            <span class="title">Chuẩn bị đầu tư</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('140000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/btgp.png">
            <span class="title">BT - GPMB</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('150000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/qldt.png">
            <span class="title">Quản lý Đấu thầu</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('160000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/hdcvk.png">
            <span class="title">Hợp đồng - CV Khác</span>
        </mat-card>

    </div>

    <div class="row">

        <mat-card class="example-card" (click)="gotoModule('170000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/pd.png">
            <span class="title">Phê duyệt TKBVTC</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('180000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/gsks.png">
            <span class="title">Giám sát khảo sát</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('190000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/gstc.png">
            <span class="title">Giám sát thi công</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('200000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/gs.png">
            <span class="title">HSE</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('210000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/ttcv.png">
            <span class="title">Thanh toán - Cấp vốn</span>
        </mat-card>

    </div>
    <div class="row">

        <mat-card class="example-card" (click)="gotoModule('220000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/cbvn.png">
            <span class="title">Chuẩn bị vận hành</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('230000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/ktdt.png">
            <span class="title">Kết thúc đầu tư</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('240000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/hstl.png">
            <span class="title">Hồ sơ tài liệu</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('250000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/gvttb.png">
            <span class="title">Giá Vttb và lương chuyên gia</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('260000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/dgclnt.png">
            <span class="title">Đánh giá chất lượng nhà thầu</span>
        </mat-card>


    </div>

    <div class="row">

        <mat-card class="example-card" (click)="gotoModule('270000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/kdlnt.png">
            <span class="title">Kho dữ liệu nhà thầu</span>
        </mat-card>

        <mat-card class="example-card" (click)="gotoModule('110000')"
            [@animate]="{value:'*', params:{delay:'200ms',scale:'0.2'}}">
            <img class="card-icon" src="../../../assets/home-screen-icon/qtht.png">
            <span class="title">Quản trị Hệ thống</span>
        </mat-card>

    </div>


    <!-- 
    110000	0	Hệ thống
    120000	0	Quản lý Kế hoạch
    130000	0	Chuẩn bị đầu tư
    140000	0	Bồi thường - Giải phóng mặt bằng
    150000	0	Quản lý đấu thầu
    160000	0	Quản lý hợp đồng
    170000	0	Phê duyệt thiết kế BVTC
    180000	0	Giám sát khảo sát
    190000	0	Giám sát thi công
    200000	0	Giám sát ANLĐ VSMT & PCCN
    220000	0	Thanh toán - Cấp vốn
    210000	0	Chuẩn bị vận hành
    230000	0	Quản lý thông tin quyết toán
    240000	0	Quản lý hồ sơ tài liệu
    250000	0	Quản lý giá VTTB và lương chuyên gia
    260000	0	Đánh giá chất lượng nhà thầu
    270000	0	Kho dữ liệu nhà thầu
     -->


</div>